* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(195, 6%, 24%);
    border-bottom: 10px solid #000;
    padding: 13px 20px;
    height: 100px;
}

nav {
    text-align: right;
    display: inline-block;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;      
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:hover {
    transform: scale(1.08);
    transition: transform 250ms cubic-bezier(.45,.97,.68,2.48);
}

a::before {
    content: "";
    background-color: #BB0505;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

span {
    background-color: #BB0505;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

section {
    display: flex;
    justify-content: space-around;
    background-color: hsl(195, 6%, 24%);
    height: calc(100vh - 100px);
}

img {
    height: 795px;
    width: 745px;
    padding: 67px 50px 0 0;
}

#button {
    display: inline-block;
    background-color: #BB0505;
    box-shadow: 5px 5px 0px #000000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 250ms cubic-bezier(.45,.97,.68,2.48);
}

#button:hover {
    transform: scale(1.08);
}

.button {
    display: inline-block;
    background-color: #BB0505;
    box-shadow: 5px 5px 0px #000000;
    padding: 18px 20px;
    transition: transform 250ms cubic-bezier(.45,.97,.68,2.48);
    width: 185px;
    text-align: center;
}

.box {
    display: inline-block;
    text-align: center;
    background-color: #BB0505;
    box-shadow: 10px 10px 0px #000000;
    padding: 42px;
    margin: 200px 0 54px 0;
}

.title {
    font-size: 40px;
    margin-bottom: 28px;
}


.subtitle {
    font-size: 30px;
}

.container-buttons {
    display: flex;
    justify-content: space-around;
}