.button {
    display: inline-block;
    background-color: #BB0505;
    box-shadow: 5px 5px 0px #000000;
    padding: 18px 20px;
    transition: transform 250ms cubic-bezier(.45,.97,.68,2.48);
    width: 185px;
    text-align: center;
    font-size: 20px;      
    color: #FFFFFF;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.08);
}