.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(195, 6%, 24%);
    border-bottom: 10px solid #000;
    padding: 13px 20px;
    height: 100px;
}