#skills {
    border-bottom: 10px solid #fff;
    background-color: #BB0505;
    padding-bottom: 100px;
}

#skills .title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.wrapper-skill {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.skill-tec {
    display: flex;
    align-items: flex-end;
    font-family: 'Press Start 2p', sans-serif;
    font-size: 25px;
    color: #fff;
}

.right {
    display: flex;
    flex-direction: column;
}

.right h3 {
    margin-bottom: 50px;
}

.icon {
    width: 183px;
    height: 185px;
}

.wrapper-skill .skill-tec {
    margin-bottom: 40px;
}

.progress-bar {
    display:block;
    width: 320px;
    box-sizing: border-box;
    border: 5px solid #000;
    height: 40px;
}

.progress-bar::-webkit-progress-value {
    background: -webkit-linear-gradient(top, #3A4042 0%,#3A4042 100%); 
}

.progress-bar::-webkit-progress-bar {
    background: #fff;
}